@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'rdr2';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/chinese-rocks-rg.woff') format('woff');
}